[submodule "modules/flow-nft"]
	path = modules/flow-nft
	url = https://github.com/Flowtyio/flow-nft.git
[submodule "flow-ft"]
	path = flow-ft
	url = https://github.com/Flowtyio/flow-ft.git
[submodule "modules/flow-utils"]
	path = modules/flow-utils
	url = https://github.com/Flowtyio/flow-utils.git
