[submodule "modules/flow-nft"]
	path = modules/flow-nft
	url = https://github.com/onflow/flow-nft.git
[submodule "modules/flow-utils"]
	path = modules/flow-utils
	url = https://github.com/green-goo-dao/flow-utils.git
[submodule "modules/flow-ft"]
	path = modules/flow-ft
	url = https://github.com/onflow/flow-ft.git
